{% extends 'base.html' %}


{% block head %} 
    <title>Budgetify</title> 
{% endblock %}

{% block body %}
    <section>
        <div>
            <h1 style="text-align: center;">Bugetify</h1>
        </div>
    </section>

    <section>
        <div>
            <h3>Current Balance: 63627</h3>
            <h3>Current Month Spendings: 956</h3>
            <h3>Previous</h3>
        </div>
        <div>
            {% if tasks | length < 1 %}
                <h3>No logs</h3>
                {% else %}
                <table>
                    <tr>
                        <th>Log ID</th>
                        <th>Amount</th>
                        <th>Transaction Type</th>
                        <th>Description</th>
                        <th>date_created</th>
                        <th>Actions</th>
                    </tr>
                    {% for task in tasks %}
                        <tr>
                            <td>{{task.log_id}}</td>
                            <td>{{task.cash}}</td>
                            <td>{{task.cash_type}}</td>
                            <td>{{task.desc}}</td>
                            <td>{{task.date_created.strftime("%d-%m-%Y")}}</td>
                            <td><a href="/delete/{{task.log_id}}">Delete</a>
                            <a href="/edit/{{task.log_id}}">Edit</a></td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
        </div>
        <div>
            <form action="/" method ="POST">
                <label for="cash_input">Amount:</label>
                <input type="number" name="cash" id="cash_input">
                <br>
                <label for="desc">Description:</label>
                <input type="text" name="desc" id="desc">
                <br>
                <label for="cash_type">Type</label>
                <select name="cash_type" id="cash_type">
                    <option value="debit">Debit</option>
                    <option value="credit">Credit</option>
                </select>
                <br>
                <input type="submit" value="Add" id="btn_add">
            </form>
        </div>
    </section>
{% endblock %}